<!DOCTYPE html>
<html>
  <head>
     <title>Python Web Application</title>
    <style>
      h1{
        font-size:50px;
        font-family: Roboto;
        font-weight: normal;
        color: rgb(100,0,0);
        text-align: center;
      }
      #banner{
        width:100%;
        height: 1200px;
        object-fit: cover;
        
      }
    #container{
      max-width :720px;
      margin: 0 auto 0 auto;
      
    } 
    .bodytext{
      font-family: Arial;
    }  
    </style>
  </head>
  <body>
    <div id="container">
      <h1>ZYRA</h1>
      <img id="banner" src="https://pythonwebapplication-3.dipanithad.repl.co/static/alimarel-d-ohbrN01uo-unsplash.jpg">
      <h2>About ZYRA</h2>
      <p class="bodytext">A Fashion Brand with wide range of collections right from kids to adults.</p>
      <h2>POSITION OPEN</h2>
      <P>TODO - SHOW THE JOBS OPEN HERE</P>
  <div style="text-align:center;">
    <button>Contact Us</button>
    <p>copy right 2023,ZYRA - the fashion brand</p>
  </div>   
  </body>
</html>