<body>
     <div class="border-bottom row" style="margin-bottom:16px; padding-bottom:6px;">
       <div class="col-9">
   
          <div style="color:rgb(120,100,120); margin-bottom:4px;">
             <h2>{{job['title']}}</h2>
          </div>
          <div>
             <b>Location:</b>{{job['location']}}
          </div>
          <div>
             {% if 'salary' in job %}
                <div style="margin-bottom:20px">
                   <b>Salary:</b>{{job['salary']}}
                </div>   
            {% endif %} 
          </div> 
       </div>
       <div class="col-3" style="margin-top:20px;">
          <a target="__blank__" class="btn btn-outline-primary" href="https://www.google.com/search?q=fashion+models+images&tbm=isch&ved=2ahUKEwjTzrSI3Y3-AhXsALcAHSYzDt8Q2-cCegQIABAA&oq=fashion+models+images&gs_lcp=CgNpbWcQAzIFCAAQgAQyBggAEAcQHjIGCAAQBxAeMgYIABAHEB4yCAgAEAUQBxAeMgYIABAIEB4yBggAEAgQHjIGCAAQCBAeMgYIABAIEB46BAgjECc6BwgAEIoFEEM6CAgAEIAEELEDOgsIABCABBCxAxCDAVCEA1jVKGC1L2gAcAB4AIABkwKIAYkfkgEGMC4xOC41mAEAoAEBqgELZ3dzLXdpei1pbWfAAQE&sclient=img&ei=ccgqZJPSO-yB3LUPpua4-A0&bih=648&biw=1280&rlz=1C1VDKB_enIN955IN955#imgrc=y-WM-H8WsXyIdM" button">Apply</a>
       </div>
      </div>  
</body>  